.client-search {
	/* should use var here */
	margin: 40px;
}

.client-search__title {
	margin-bottom: 12px;
	font-size: 30px;
	font-family: var(--secondary-font);
	color: var(--color-dark);
}

.client-search__content {
	padding: 40px 20px;
	border-radius: 10px;
	background-color: var(--bg-color-primary);
}
