/* to-do: shadow */
.actions-bar {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	background: var(--bg-color-primary);
}

.actions-bar__buttons {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	margin-right: 40px;
}

.actions-bar__button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	font-size: 11px;
	line-height: 15px;
	font-weight: 700;

	border-radius: 5px;
	width: 60px;
	height: 60px;
}

.actions-bar__button:hover {
	background-color: var(--bg-color-darker);
}

/* Tooltip */
.actions-bar__button::before,
.actions-bar__button::after {
	--scale: 0;

	position: absolute;
	top: 0;
	left: 0;

	transform: translateX(-101%) scale(var(--scale));
	transition: 300ms transform;
	transform-origin: center right;
}

.actions-bar__button::before {
	content: attr(data-tooltip);

	padding: 3px 6px;
	border-radius: 100px;
	text-align: center;
	min-width: 100%;

	background: var(--color-dark);
	white-space: nowrap;
	color: var(--color-light);
}

.actions-bar__button:hover::before,
.actions-bar__button:hover::after {
	--scale: 1;
}
